<nav data-ng- class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="main.html"><span class="mif mif-home" aria-hidden="true"></span></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div id="useractions">
            <p class="navbar-text navbar-right"><a class="btn-account" id="logout" href="login.html">Logout</a></p>
            <p class="navbar-text navbar-right"><a class="btn-login" id="login" href="login.html">Login</a></p>
            <p class="navbar-text navbar-right"><a class="btn-register" id="register" href="register.html">Register</a></p>
            <p class="navbar-text navbar-right"><span id="currentUser" class="navbar-link"></span></p>
        </div> <!-- /#useractions -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>