<div class="panel panel-default">
    <div class="panel-body">
        <h1>Start finding new food near you!</h1>

        <div id="getStarted">
            <a href="search.html" class="btn btn-lg btn-get-started">Get Started!</a>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p class="center">Find Foreign Food is a brand spanking new web application that lets you search for almost ANY kind of cuisine in almost ANY area! It does this with the help of Foursquare.</p>
            </div>
            <div class="col-md-4"></div>
        </div>

    </div>
    </div>
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><a id="readMore" href="#">Read More</a></h3>
        <p class="mif-arrow-down mif-2x"></p>
    </div>
    <div id="intro-text" class="panel-body" style="line-height: 2;">
        <h4>Why can't you just use Foursquare you ask? </h4>
        <br />

        <p>Well, you totally could and that would be fine, but Find Foreign Food features a few pretty neat advantages, stroll over to the About page where you can read all about them in more detail, but are the main ones:</p>

        <div class="row">
            <div class="col-md-4">
                <h3>Offline First</h3>
                <span class="mif mif-download mif-4x" aria-hidden="true"></span>
                <p>This is the showstopper of this project. Achieving a fully offline cacheable and accessible web application has been my goal throughout the span of my Creative Technologies Project time. All the research I have carried out has contributed to this feature, and I really hope you love it!</p>
            </div>
            <div class="col-md-4">
                <h3>Fully responsive</h3>
                <span class="mif mif-mobile mif-4x" aria-hidden="true"></span>
                <p>As with the rest of the web, websites and web apps should be accessible from any kind of device - okay, maybe not a Nokia 3310 but you get my point. Enjoy Foreign foods on mobile, tablet and desktop.</p>
            </div>
            <div class="col-md-4">
                <h3>Find almost anything!</h3>
                <span class="mif mif-earth mif-4x" aria-hidden="true"></span>
                <p>As I mentioned, Find Foreign Food uses Foursquare to carry out its searches, and Foursquare is friggin' massive! So don't be shy on what you search.</p>
            </div>
        </div>

        <a href="search.html" class="btn btn-lg btn-get-started">Get Started!</a>    
    </div>
    </div>